@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-workbench: 'Workbench', system-ui;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 8px;
  border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a var(--background);
}

@keyframes wave-animation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

.wave {
  animation: wave-animation 4s ease-in-out infinite;
}

@keyframes gapAnimation {
  0%, 100% { gap: 2.1px; }
  50% { gap: 6.1px; }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

.animate-gap {
  animation: gapAnimation 30s infinite ease-in-out;
}


.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.modal-hover-indigo:hover {
  background-color: rgba(79, 70, 229, 0.1);
}


@layer base {
  :root {
    --font-workbench: 'Workbench', system-ui;
  }
}


.font-workbench {
  font-family: var(--font-workbench);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "BLED" 0,
  "SCAN" -53;
}

.shake-button:hover {
  animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@font-face {
  font-family: 'Digital-7';
  src: url('/fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.tooltip-custom {
  position: relative;
}

.tooltip-custom::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust based on your design */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px; /* Adjust size */
  border-style: solid;
  border-color: transparent transparent #F7F2DA transparent; /* Matches tooltip background color */
}